@model string

<div class="install-widget">
    <h3 class="install-widget-title">Install</h3>
    <div class="install-command-row">
        <code class="install-command" id="install-command">@Model</code>
        <button class="btn-copy"
                type="button"
                data-copy-target="install-command"
                aria-label="Copy install command to clipboard">
            Copy
        </button>
    </div>
</div>
